// https://getemoji.com/
// https://octodex.github.com/
// http://www.color-hex.com/color/2f4480
// https://www.tablesgenerator.com/markdown_tables
// https://stackoverflow.com/questions/23571724/github-markdown-colspan

$app-min-width: 320px;

/* Bootstrap */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
/* Bootstrap end */

/* Prismjs */
@import '~prismjs/themes/prism.css';

.docs {
  pre[class*='language-'] {
    margin-top: 0;
    margin-bottom: 0;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    margin-bottom: 1.5rem;
    background: rgba(#f5f2f0, 0.9);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: none;
  }
}
/* Prismjs end */

/* Common Layout */
.docs {
  min-width: $app-min-width;
}

.docs-container {
  position: relative;
}

.docs-container--has-jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column; // Fix IE
    justify-content: center;
    background-color: darken(#2f4480, 5%);
  }

.docs-vue-logo {
  width: 4rem;
  height: 4rem; // Fix IE
  opacity: 0.9;

  @include media-breakpoint-down(xs) {
    width: 3rem;
  }
}

.docs-tagline {
  line-height: 1.5;
}

.docs-credit {
  color: #8b9dc3;
  line-height: 3.5;
  display: inline-block;

  a {
    --transition-duration: 0.5s;
    min-width: 8rem;
    position: relative;
    text-decoration: none;
    transition: color var(--transition-duration);

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:hover {
      color: lighten(#8b9dc3, 10%);

      &::before {
        background-color: lighten(#8b9dc3, 10%);
      }
    }

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: #8b9dc3;
      transition: background-color var(--transition-duration);
    }
  }
}

.docs-credit-anchor {
  &:hover {
    text-decoration: none;
  }
}

.docs-facebook-button {
  --box-shadow-opacity: 0.15;
  font-family: inherit;
  transition: box-shadow 0.5s;
  box-shadow: 0 0.25rem 0.15rem rgba(0, 0, 0, var(--box-shadow-opacity));

  &:hover {
    --box-shadow-opacity: 0.125;
  }
}

.docs-avatar {
  top: 0; // Fix IE 11
  right: 0;
  opacity: 0;
  z-index: -1;
  width: 2.375rem;
  height: 2.375rem;  
  position: absolute;
  transform: translate(-1px, 1px);
  border-radius: 0.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;

  &--is-visible {
    opacity: 1;
    z-index: 2; // Fix Chrome 69 bug (replace `z-index: 1` with `z-index: 2`)
  }
}

@keyframes docs-fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.docs-github {
  top: 1rem;
  right: 1rem;
  z-index: 1;
  position: absolute;

  &:hover {
    animation: docs-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  img {
    width: 4rem;
    opacity: 0.9;
  }
}

.docs-version {
  top: 1rem;
  left: 1rem;
  color: #8b9dc3;
  position: absolute;
  // display: none;
}

.docs-fixed-anchor {
  font-size: 1.2rem;
  color: #ffffff;
  left: 50%;
  bottom: 0.8rem;
  position: absolute;
  white-space: nowrap;
  transform: translateX(-50%);

  &:hover {
    color: inherit;
  }
}

.docs-footer {
  margin-top: 2rem;
  padding-top: 2rem;
  min-height: 20rem;
  background-color: #2f4480;
}

.docs-markdown {
  h2 {
    font-size: 1.5rem; // h4
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem; // h5
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
    max-width: 200%;
    color: #2f4480;
    margin-bottom: 1.5rem;
    background-color: rgba(#f5f2f0, 0.9);

    @include media-breakpoint-down(xs) {
      width: 200%;
    }
  }

  th {
    font-weight: bold;
    background-color: rgba(#8b9dc3, 0.9);
  }

  td {
    border-top: 1px solid;

    &:first-child {
      background-color: rgba(lighten(#8b9dc3, 20%), 0.9);
    }
  }

  th,
  td {
    padding: 1rem;
    vertical-align: top;
    vertical-align: middle;
    border-right: 1px solid;
  }
}

.docs-table-wrap {
  @extend .docs-clearfix;

  @include media-breakpoint-down(xs) {
    overflow-x: scroll;
  }
}

#props-table-wrap,
#events-table-wrap,
#slots-table-wrap,
#scope-table-wrap {
  th:nth-child(1) {
    width: 20%;
  }
}

#props-table-wrap,
#events-table-wrap,
#scope-table-wrap {
  th:nth-child(2) {
    width: 20%;
  }
}

#props-table-wrap,
#events-table-wrap {
  th:nth-child(3),
  th:nth-child(4) {
    width: 30%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Utils */
.docs-c-pointer {
  cursor: pointer;
}
.docs-100vh {
  height: 100vh;
}
.docs-min-100vh {
  min-height: 100vh;
}
.docs-clearfix {
  &::after,
  &::before {
    height: 0;
    display: block;
    content: '\0020';
    overflow: hidden;
  }
  &::after {
    clear: both;
  }
}
/* Utils end */

/* Animations */
@keyframes docs-shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-3px);
  }
  40%,
  60% {
    transform: translateX(3px);
  }
}
/* Animations end */